fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
pydantic[email]
pydantic-settings
python-jose[cryptography]
bcrypt  
python-multipart
python-dotenv
alembic
requests
httpx
# aiofiles
cloudinary
stripe
resend
gunicorn
google-auth
